body {background-color:black; font-family:arial; color:white}
h1{color:grey;font-family:verdana}

.maindiv{
    background-color:white;
    color:black;
  width: 500px;
	padding: 20px;
  border-radius: 25px;
  border: solid black;
  position: absolute;
	top: 25%;
	left: 30%; 
}

.highlight{
    background-color: #FFFF00;
}


